* {
    font-family: "Inter", sans-serif;
}
body {
    margin: 0;
}


#header {
    position: fixed;
    width: 100vw;
    height: 60px;
    background-color: rgba(255,255,255,0.5);
}
#header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 3rem;
}
#header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}
#header-left {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: auto;
}
#header-image {
    height: 40px;
}



#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
}
#hero-title {
    font-size: 5rem;
    font-weight: 600;
}
#hero-description {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
#hero-image {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    opacity: 0.5;
    filter:blur(8px);
    z-index: -1;
}


#info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
#info-title {
    font-size: 3rem;
    font-weight: 500;
}
.info-card {
    display: flex;
    width: 40vw;
    height: 20vh;
    margin: 0 5rem;
    border-radius: 12px;
    background-color: bisque;
    padding: 16px;
}
#info-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}
#info-cardl { 
    align-self: flex-start;
}
#info-cardr {
    align-self: flex-end
}
#info-image {
    object-fit:cover;
    width: 50%;
    border-radius: 8px;
}


#signup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 30vh;
    margin: 5rem 0;
}
#signup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 3.5rem 10rem;
    border-radius: 12px;
}
#signup-content > p {
    font-size: 2rem;
    margin: 16px;
}
#signup-content > a {
    font-size: 1.5rem;
}


#footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
#footer-right {
    display: flex;
    gap: 10px;
}
#footer-image {
    height: 40px;
}
#footer-left {
    display: flex;
    align-items: center;
}